*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-header{
   display: flex;
    background: #333;
    color: #fff;
    padding: 15px 0;
    justify-content: space-around;
}
.header-title{
    flex-basis: 40%;

}
.main-menu{
    flex-basis: 45%;

}
.semester-menu{
    margin: 0;
    padding: 0;
    list-style: none;

}
.semester-menu ul{
    display: inline;
    
}
.semester-menu ul li{
    display: inline-block;
    
    
}
a:active{
    background: rgb(5, 146, 111);
    color: #fff;
    
    
}
.semester-menu ul li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 15px;
    background: silver;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
    
}
.semester-menu ul li a:hover{
   
    color: #333;
    background:yellow;
}
form{
   max-width: 40%;
    margin: auto;
    border: 3px solid #333;
    padding: 10px 0;
    
}


form input[type="submit"], label{
    display: block;
    margin-top: 15px;
    margin-left: 210px;
    padding: 10px 25px;
}
form input[type="submit"]:hover{
    background: red;
    color: #fff;
}
form label{
    
    padding:0 ;
}
select {
   
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 800;
    border: 3px solid #333;
    background: yellow;
    margin-left: 210px;
}
footer{
    background: #333;
    color: #fff;
    display: flex;
}
 
footer p{
    padding: 10px;
    margin-left: 50px;
    justify-content: space-around;
}

}
